Dear Professor #{@user.last_name},
%br
%br
A student would like to add information about your research lab on Yale's Database of Research in Science (Doris). When you have a moment, please stop by

= link_to "doris.yale.edu", "http://doris.yale.edu" 

to add a few details about the work you're doing.

%br
%br

Thanks,
%br
The Doris Team