Dear Professor #{@user.last_name},
%br
%br
A student has added a new project to your research lab on Doris. When you have a moment, please stop by

= link_to "doris.yale.edu", "http://doris.yale.edu" 

to confirm the project.

%br
%br

Thanks,
%br
The Doris Team