- title 'Dashboard'

.slider_wrapper
  .to_button.to_left
  .slider_parent
    - unless @feed == 0
      - @feed.entries.each do |entry|
        = render partial: 'block', locals: { entry: entry }
    - unless @feed2 == 0
      - @feed2.entries.each do |entry|
        = render partial: 'block', locals: { entry: entry }
  .to_button.to_right