= title "This is private homepage!!"
%p Find me in app/views/home/index.html.haml
.slider_wrapper
  %div.to_button.to_left
  .slider_parent
    -for i in 1..10
      = render :partial => "block"
  %div.to_button.to_right

