- title 'Dashboard'

%p Find me in app/views/home/index.html.haml
.slider_wrapper
  %div.to_button.to_left
  .slider_parent
    -@feed.entries.each do |entry|
      = render :partial => "block", :locals => {:entry => entry}
    -@feed2.entries.each do |entry|
      = render :partial => "block", :locals => {:entry => entry}
  %div.to_button.to_right

