- title 'Dashboard'

.slider_wrapper
  .to_button.to_left
  .slider_parent
    -@feed.entries.each do |entry|
      = render :partial => "block", :locals => {:entry => entry}
    -@feed2.entries.each do |entry|
      = render :partial => "block", :locals => {:entry => entry}
  .to_button.to_right