@import "colors";

@import "bootstrap_overrides";
@import "bootstrap";

.content {
  margin-top: $navbarHeight + 10px;
}

body {
  font-family: 'Titillium Web',sans-serif;
}

#logo-search {
  margin-right: 10px;

  // Fixes invisible popover content bug in navbar input-append
  .popover-content {
    font-size: $baseFontSize;
  }
}

@import "bootstrap-responsive";

@import "font-awesome";

// Janky fix for input-appends in the navbar

.navbar-form {
  .input-append,
  .input-prepend {
    @include navbarVerticalAlign(30px);
  }
}

@import "info_fields";
@import "labs";
@import "projects";
@import "users";
@import "home";
@import "token-input-facebook";
@import "dataTables/jquery.dataTables.bootstrap";