// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.block {
  width: 320px;
  height: 450px;
  float: left;
  margin-right: 15px;
}

.highlight {
  background-color: #EB6A32;
  color: #fff;
}

.slider_wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider_parent {
  height: 450px;
  width: 3000px;
  margin-left: 0px;
}

.to_button {
  width: 70px;
  height: 490px;
  background-color: rgba(0,0,0,.05);
  position: absolute;
}

.button_highlight {
  background-color: rgba(0,0,0,.5);
}

.to_right {
  right: 0px;
  top: 0px;
}